@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Nunito+Sans:wght@700&display=swap');
@import url('https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css');

* {
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.buy-sell {
    height: 446px;
    background-image: url(../../../img/buy-sell_bg-img.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.row-d-flex {
    padding: 120px 0;
}

.title {
    font-family: 'Nunito Sans' sans-serif;
    font-weight: 700;
    font-size: 56px;
    line-height: 120%;
    width: 536px;
    padding-bottom: 24px;
    margin-bottom: 0;
}

.buy-sell_text {
    width: 523px;
    margin-bottom: 0;
}

@media(max-width:1140px) {
    .title {
        font-size: 40px;
        line-height: 120%;
        width: 380px;
    }

    .buy-sell_text {
        width: 358px;
    }
}

@media(max-width:960px) {
    .title {
        font-size: 30px;
        line-height: 120%;
        width: 272px;
    }

    .buy-sell_text {
        width: 272px;
    }
}

@media(max-width:625px) {
    .buy-sell {
        background-position: 45% 50%;
    }
}

@media(max-width:560px) {
    .buy-sell {
        background-position: 40% 50%;
    }
}