<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="css/23_404_Error_Page.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link
		href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,500;0,600;0,700;0,800;1,500;1,600;1,700;1,800&display=swap"
		rel="stylesheet">
	<title>Error 404</title>
</head>

<body>
	<img class="kosmos" src="image/kosmos.png" />
	<img class="error" src="image/error.png" />
	<img class="planets" src="image/planets.png" />
	<img class="astronaut" src="image/astronaut.png" />
	<img class="rocket" src="image/rocket.png" />

	<dir class="niz">
		<dir class="masseg">
			<dir class="masseg1">
				The page you are looking for doesn't exist...
			</dir>
			<dir class="messeg2">
				We ran into an issue, but don’t worry, we’ll take care of it for sure.
			</dir>
		</dir>
		<dir class="knopka">
			<button type="button" class="knopka1"> <img class="arrowleft" src="image/ArrowLeft.png" /> Go back home
			</button>
		</dir>
	</dir>

</body>

</html>